language: python
dist: trusty

python:
- '3.6'

branches:
  only:
  - master

addons:
 apt:
  packages:
    - openjdk-8-jre

cache:
- pip
- yarn
- directories:
  - $HOME/.cache/pre-commit

install:
- pip install -r requirements.txt
- pip install -U html5validator
- pip install -U pre-commit
- yarn install
- go get github.com/BurntSushi/toml/cmd/tomlv

before_script:
- invoke theme-sync
- invoke plugins-sync

script:
- pre-commit run --all-files
- invoke publish
- html5validator --root output/
